h1, p {
  font-family: Lato;
}
#root div{
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: center;
}
.text-class{
  align-self: center;
  background-color:grey;

}
.text-h1{
  width:100%;
}
.parent-div{
  padding:20px 0px 30px 0px;
}